body {
    background: radial-gradient(rgb(236, 232, 232), rgb(125, 131, 143), rgb(72, 80, 83))
}

.card-movie {
    width : 18rem;
}
.card-movie:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
    z-index: 10;
    cursor: pointer;
}